.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  text-align: center;
}

.cart-items-container {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.empty-cart {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cart-actions {
  display: flex;
  flex-direction: column;
}   

.cart-actions p{
    font-size: 2rem;
    padding: 1rem;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.btn-volver-inicio {
  display: inline-block !important; /* Fuerza el layout  */
  margin-top: 1rem !important;      /* Crea el espacio */
  text-decoration: none;
}